<% provide(:title, "new score") %>
<h1>New score</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@score, html: {multipart: true}) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      
     <%= f.label "Semester" %>
      <%= f.select(:semester, options_for_select([['20101',20101],['20102',20102],
      ['20111',20111],['20112',20112],['20121',20121],['20122',20122],['20131',20131]])) %>

      <%= f.label "Subject" %>
      <%= f.select(:subject_id, options_from_collection_for_select(Subject.all.collect,"id","name"),  class: "form-control") %>

      <%= f.label "User" %>
      <%= f.select(:user_id, options_from_collection_for_select(@users,"id","name"),  
      class: "form-control") %>

      <%= f.label "Course" %>
      <%= f.select(:course_id, options_from_collection_for_select(Course.all.collect,"id","teacher"), class: "form-control") %>

      <%= f.label "Middle score" %>
      <%= f.number_field :middle_score, :step => 0.5, class: "form-control" %>
      
      <%= f.label "End score" %>
      <%= f.number_field :end_score, :step => 0.5, class: "form-control" %>

      <%= f.label "Letter score" %>
      <%= f.text_field :letter_score, class: "form-control" %>

      <%= f.submit "Update score", class: "btn btn-primary" %> 
    <% end %>
  </div>
</div>