<%= link_to "Create faculty", new_faculty_path %><br>
<% @faculties.each do |faculty| %>
  <h3><%= faculty.name %></h3>
  <%= link_to "Edit", edit_faculty_path(faculty) %> |
  <%= link_to "Delete", faculty, method: :delete, data: {confirm: "you sure?"} %>
  <br>
<% end %>
<%= will_paginate @faculty %>