<% provide(:title, @user.name) %>
<p>Mã số sinh viên: <%= @user.username %></p>
<p>Tên sinh viên: <%= @user.name %></p>
<p>Ngay bat dau: <%= @user.start_date.strftime("%b %d, %Y") %></p>
<p>Email: <%= @user.email %></p>
<p>Lop: <%= @user.class_student.name %></p>
