<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">MSSV</Data></Cell>
        <Cell><Data ss:Type="String">User</Data></Cell>
        <Cell><Data ss:Type="String">Semester</Data></Cell>
        <Cell><Data ss:Type="String">Subject</Data></Cell>
        <Cell><Data ss:Type="String">Credit</Data></Cell>
        <Cell><Data ss:Type="String">Middle score</Data></Cell>
        <Cell><Data ss:Type="String">End score</Data></Cell>
        <Cell><Data ss:Type="String">Finish score</Data></Cell>
      </Row>
    <% @table_scores.each do |table_score| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= table_score.id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= table_score.user.username %></Data></Cell>
        <Cell><Data ss:Type="String"><%= table_score.user.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= table_score.semester %></Data></Cell>
        <Cell><Data ss:Type="String"><%= table_score.score.subject.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= table_score.score.subject.credit %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= table_score.middle_score %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= table_score.end_score %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= table_score.finish_score %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>