<p>
  Download:
  <%= link_to "CSV", table_scores_path(format: "csv") %> |
  <%= link_to "Excel", table_scores_path(format: "xls") %>
</p>

<table border="1" >
  <tr>
    <td><b>Username</b></td>
    <td><b>Semester</b></td>
    <td><b>Subject</b></td>
    <td><b>Credit</b></td>
    <td><b>Middle score</b></td>
    <td><b>End score</b></td>
    <td><b>Score</b></td>
    <td><b>Edit</b></td>
  </tr>
  <%= render @table_scores %>
  <%= will_paginate %>
</table>
<%= will_paginate %>