<table border="1" >
  <tr>
    <td><b>Username</b></td>
    <td><b>Semester</b></td>
    <td><b>Subject</b></td>
    <td><b>Credit</b></td>
    <td><b>Middle score</b></td>
    <td><b>End score</b></td>
    <td><b>Finish score</b></td>
  </tr>
  <% @table_scores.each do |table_score| %>
    <tr>
      <td><%= table_score.user.name %></td>
      <td><%= table_score.semester %></td>
      <td><%= table_score.score.subject.name %></td>
      <td><%= table_score.score.subject.credit %></td>
      <td><%= table_score.middle_score %></td>
      <td><%= table_score.end_score %></td>
      <td><%= table_score.finish_score %></td>
    </tr>
  <% end %>
</table><br><br>

<table border="1">
  <tr>
    <td><b>Semester</b></td>
    <td><b>CPA</b></td>
    <td><b>GPA</b></td>
  </tr>
  <%= render @total_scores %>
</table>