<% provide(:title, "Scope") %>
<table border="1" >
  <tr>
    <td><b>Hoc ky</b></td>
    <td><b>Ma HP</b></td>
    <td><b>Ten HP</b></td>
    <td><b>Tin chi</b></td>
    <td><b>Lop hoc</b></td>
    <td><b>Diem QT</b></td>
    <td><b>Diem thi</b></td>
    <td><b>Diem chu</b></td>
  </tr>
  <% @scopes.each do |scope| %>
  <tr>
    <td><%= scope.semester %></td>
    <td><%= scope.subject_id %></td>
    <td><%= scope.subject.name %></td>
    <td><%= scope.subject.count %></td>
    <td><%= scope.course.id %></td>
    <td><%= scope.middle_scope %></td>
    <td><%= scope.end_scope %></td>
    <td><%= scope.letter %></td>
  </tr>
  <% end %>
</table>
