<tr>
  <td><%= fee.semester %></td>
  <td><%= fee.user.name %></td>
  <td><%= fee.user.username %></td>
  <td><%= fee.cost %></td>
  <td><%= fee.total_credit %></td>
  <td><%= fee.total_money %></td>
  <td>
  <%= link_to "#{fee.submit_fee}", edit_admin_fee_path(fee) %>
  </td>
</tr>