<% provide(:title, "Course") %>
<% if current_user.admin? %>
  <%= link_to "Create course", new_course_path %>
<% end %>
<br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag courses_path, method: :get do |f| %>
      <strong>Faculty</strong>
      <%= select_tag :faculty_id, options_from_collection_for_select(Faculty.all.collect,"id","name"), prompt: "All", class: "form-control" %>
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    <% end %><br><br>
  </div>
</div>
<table border="1" >
  <tr>
    <td><b>Khoa vien</b></td>
    <td><b>Hoc ky</b></td>
    <td><b>Class</b></td>
    <td><b>Max</b></td>
    <td><b>Min</b></td>
    <td><b>Da dang ky</b></td>
    <td><b>Trang thai</b></td>
    <td><b>Giao vien</b></td>
    <td><b>Mon hoc</b></td>
    <td><b>Tin chi</b></td>
    <td><b>Thu</b></td>
    <td><b> Time </b></td>
  
      <td><b> Dang ky </b></td>  
  
    <td><b> Sua </b></td>
    <td><b> Xoa </b></td>
  </tr>
  <%= render @courses %>
  <%= will_paginate %>
</table>
<%= will_paginate %>
<br><br><br><br><br><br><br><br>


  <table border="1">
    <tr>
      <td><b>User</b></td>
      <td><b>Lop</b></td>
      <td><b>Giao vien</b></td>
      <td><b>Tin chi</b></td>
      <td><b>Thu</b></td>
      <td><b>Thoi gian</b></td>
      <td><b>Xoa lop</b></td>
    </tr>
    <div class= "activities">
        <%= render @activities %>
        </div>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><b><%= @activities.sum(:credit) %></b></td>
    </tr>
  </table>
