<tr>
  <td><%= fee.semester %></td>
  <td><%= fee.user.name %></td>
  <td><%= fee.cost %></td>
  <td><%= fee.total_credit %></td>
  <td><%= fee.total_money %></td>
  <td><%= link_to "Edit", edit_fee_path(fee) %></td>
</tr>