<tr>
  <td><%= fee.semester %></td>
  <td><%= fee.user.name %></td>
  <td><%= fee.user.username %></td>
  <td><%= fee.cost %></td>
  <td><%= fee.total_credit %></td>
  <td><%= fee.total_money %></td>
</tr>