<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Semester</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">MSSV</Data></Cell>
        <Cell><Data ss:Type="String">Cost</Data></Cell>
        <Cell><Data ss:Type="String">Total credit</Data></Cell>
        <Cell><Data ss:Type="String">Total money</Data></Cell>
      </Row>
    <% @fees.each do |fee| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= fee.id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= fee.semester %></Data></Cell>
        <Cell><Data ss:Type="String"><%= fee.user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= fee.user.username %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= fee.cost %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= fee.total_credit %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= fee.total_money %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>