<%= link_to "Create class student", new_class_student_path %><br>
<% @class_students.each do |class_student| %>
  <h3>
    <%= class_student.name %>
    -- So sinh vien: <%= class_student.users.count(:id) %>
  </h3>
  <%= link_to "Edit", edit_class_student_path(class_student) %>
  <br>
<% end %>
<%= will_paginate @class_student %>