<% provide(:title, "new student class") %>
<h1>New student class</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @class_student, html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.select(:faculty_id, options_from_collection_for_select(Faculty.all.collect,"id","name"),  class: "form-control") %>

      <%= f.label "Name Class" %>
      <%= f.text_field :name, placeholder: "Name Class", 
      class: "form-control" %><br>

      <%= f.label "Name specialized" %>
      <%= f.text_field :specialized, placeholder: "Name Class", 
      class: "form-control" %><br>


      <%= f.label "Start year" %>
      <%= f.text_field :start_year, class: "form-control" %>

      <%= f.label "End year" %>
      <%= f.text_field :end_year, class: "form-control" %>
      
      <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
      <% end %>

      <%= f.submit "Create student class", class: "btn btn-primary" %> 
    <% end %>
  </div>
</div>