<% provide(:title, "new course") %>
<h1>New course</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @course] do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      
      <%= f.label "Faculty" %>
      <%= f.select :faculty_id, options_from_collection_for_select(Faculty.all.collect,"id","name"), class: "form-control" %>

      <%= f.label "Subject" %>
      <%= f.select :subject_id, options_from_collection_for_select(Subject.all.collect,"id","name"), class: "form-control" %>

      <%= f.label "Class" %>
      <%= f.select :class_student_id, options_from_collection_for_select(ClassStudent.all.collect,"id","name"),  class: "form-control" %>

      <%= f.label "State" %>
      <%= f.select :state, options_for_select([['true',1],['false',0]]) %>

      <%= f.label "Teacher" %>
      <%= f.text_field :teacher, placeholder: "Teacher", 
      class: "form-control" %><br>

      <%= f.label "Semester" %>
      <%= f.select :semester, options_for_select([['20101',20101],['20102',20102],
      ['20111',20111],['20112',20112],['20121',20121],['20122',20122],['20131',20131]]) %>

      <%= f.label "Max" %>
      <%= f.number_field :max, in: 100...121, class: "form-control" %>

      <%= f.label "Min" %>
      <%= f.number_field :min, in: 20...31, class: "form-control" %>

      <%= f.label "Start period" %>
      <%= f.number_field :start_period, in: 1...10, class: "form-control" %>
      
      <%= f.label "End period" %>
      <%= f.number_field :end_period, in: 2...11, class: "form-control" %>

      <%= f.label "Day" %>
      <%= f.number_field :day, in: 2...9, class: "form-control" %>

      <%= f.submit "Create course", class: "btn btn-primary" %> 
    <% end %>
  </div>
</div>