<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Manage student", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <% unless current_user.admin? %>
            <li><%= link_to "Score", score_path %></li>
            <li><%= link_to "Course", courses_path %></li>
            <li><%= link_to "Fee", fee_show_path %></li>
          <% end %>
          <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Management <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Faculty", faculties_path %></li>
                <li><%= link_to "Subject", subjects_path %></li>
                <li><%= link_to "Student class", class_students_path %></li>
                <li><%= link_to "Course", admin_courses_path %></li>
                <li><%= link_to "Table score", table_scores_path %></li>
                <li><%= link_to "Fee", fees_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% unless current_user.admin? %>
                <li><%= link_to "Profile", current_user %></li>
                
              <% end %>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>  
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>z
            </ul>
          </li>
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>